@mixin font($font_name, $file_name, $weight, $style) {
    @font-face { font-family: $font_name; font-display: swap; src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); font-weight: #{$weight}; font-style: #{$style}; }
    
}
    
@import "fonts";

body {
    overflow-x: hidden; 
    
}

.wrapper {
    display: block;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@media (max-width:1200px) {
    .wrapper {
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .wrapper {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .wrapper {
        max-width: none;
    }
}        
content {
    display: block;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.wrapper1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 84%;
    width: 100%;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    min-width: 750px;
    
    ul {
        list-style-type: none;
        flex-shrink: 2;
        display: flex;
        align-items: center;
        li {
            flex-shrink: 1;
        }
        }
         
       a {
           color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            flex-shrink: 2;
      }
      
       a:hover:not(.active) {
        background-color: rgb(228, 177, 177);
      }
      
      .active {
        background-color: rgb(17, 173, 23);
      }
}
.nav {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    ul {
        display: flex;
        position: relative;
        flex-shrink: 2;
        margin-left: 0;
        padding-left: 0;
        
    }
    
      li {
        
        display: inline-block;
        color: white;
        text-align: center;
        
        text-decoration: none;
        flex-shrink: 2;
          margin: 0;
      }
      li :hover .dropdown-content {
        display: block;
      } 

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
   
   
.logo {
    display: flex;
    font-weight: bold;
    font-size: large;
    p {
        margin-left: 5px;
        
    }
}

.button {  
    position: relative;
    display: inline-block;
    border: solid 7px rgb(33, 199, 47);
    transition: border-width 0.6s linear;
    border-radius: 7px;
    padding: 10px;
    font-weight: bolder;
    clip-path: polygon( 
      calc(0% + 3px) calc(0% + 3px), 
      calc(100% - 3px) calc(0% + 3px), 
      calc(100% - 3px) calc(100% - 3px), 
      calc(0% + 3px) calc(100% - 3px) 
    );
    transition: clip-path 0.6s linear;
  }
  
  .button:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }




.hero{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin-top: 30px;
}
.infohero {
    display: flex;
    flex-direction: column;
    z-index: 3;
    input[type=text] {
        background: #FFFFFF;
        border: 1px solid #CECECE;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 15px;
        width: 412px;
        height: 60px;
        left: 165px;
        top: 467px;
        margin-right: 10px;
      }
      button {
        display: flex;
        align-items: center;
        background-color: rgba(204, 0, 0, 1); 
        color: black; 
        border: 2px solid rgba(204, 0, 0, 1);
        border-radius: 5px;
        font-size: 16px;
        padding: 22px 43px;
        width: 224px;
        height: 60px;
        left: 585px;
        top: 467px;
        
      }
      
      button:hover {
        background-color: rgb(214, 110, 110);
        color: rgb(0, 0, 0);
      }
      h1 {
        color: rgba(204, 0, 0, 1);
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 84px;
        letter-spacing: -2.50105px;
      }
      h4 {
          font-weight: normal;
          width: 80%;
      }
      a {
          text-decoration: none;
      }
}
.pichero {
    flex:0 0 50%;
    transform: translate(-10%,0px);
    z-index: 2;
}
.inbtn {
    display: flex;
    flex-direction: row;
}
.wrapper5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 672px;
}

.promos {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
}
.promohead {
    width: 100%;
    text-align: center;
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #323232;
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
        color: #323232;
    }
}
.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 140px;
    padding: 20px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;
    h4 {
        background: #3DC47E;
        border-radius: 3px;
        padding: 5px;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10px;

    }
    h1 {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 32px;
    }
    p {
        margin-top: 0;
        font-size: 22px;
    }
}
.domains {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.allpromos {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #0088CC;
    text-align: center;
    cursor: pointer;
}
.section1 {
    justify-content: center;
    width: 575px;
    text-align: center;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 150%;
        color: #CC0000;
    }
    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #464646;
    }
}
.section2 {
    display: flex;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 100px;
}
.part1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #323232;
    }
    p {
        margin-top: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #464646;
    }
}
.part2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #323232;
    }
    p {
        margin-top: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #464646;
    }
}
.features {
    padding-top: 80px;
    margin-left: -25%;
    margin-right: -25%;
    margin-bottom: 100px;
    left: 0;
    min-width: 100%;
    height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F8F8F8;

}

.ftitle {
    text-align: center;
    h3 {
        margin-bottom: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #CC0000;
    }
    h1 {
        margin-top: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        color: #282828;
        margin-bottom: 80px;
    }
    
}
.feat {
    display: flex;
    justify-content: center;
}
.onefeat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 255px;
    height: 187px;
    text-align: center;
    img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #282828;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #464646;
        margin: 0 auto;
    }
}
.hero2 {
    display: flex;
    flex-direction: row;
}
.wrapper7 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: nowrap;
    margin-bottom: 175px;
}
.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 150px;
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #323232;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #464646;
    }
}
.pic2 {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.revtitle {
    text-align: center ;
    h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        color: #CC0000;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #464646;
    }
}
.reviews {
    display: flex;
    justify-content: space-between;
    margin-left: -25%;
    margin-right: -25%;
    min-width: 100%;
    height: 305px;
    overflow-x: scroll;
    .reviews::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
      }
      
      .reviews::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #18aaaa;
      }
      
      .reviews::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f9f9fd;
      }   

}
.rev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 445px;
    height: 300px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(103, 103, 103, 0.05);
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
    img {
          width: 145px;
          height: 20px;  
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #464646;
    }
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #282828;
        margin-bottom: 0;
    }
    h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #464646;
        margin-top: 10px;
    }
}
.wrapper8 {
    margin-right: -50%;
    margin-bottom: 100px;
    left: 0;
    width: 150%;
    height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.upbg {
    
    align-items: center;
    margin-left: -25%;
    margin-right: -25%;
    left: 0;
    min-width: 100%;
    height: 112px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1E1E20;
    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: #FFFFFF;
    }
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        color: #FFFFFF;
            }
}
.midbg {
    background: #171718;
    margin-left: -25%;
    margin-right: -25%;
    left: 0;
    min-width: 100%;
    height: 172px;
}
.downbg {
    min-width: 100%;
    height: 200px;
    margin-top: 30px;
}
.footwr1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 84%;
    height: 112px;
    margin: 0 auto;
}
footer {
    margin-top: 150px;
    
}
.midftext {
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 30px;

    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #868686;
        margin-right: 30px;

    }
}
.midftext2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 30px;

    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #868686;
        margin-right: 30px;
    }
}
.midftext3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        margin-right: 40px;
    }
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 84%;
    margin: 0 auto;
    height: 172px;
}
.downfoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 84%;
    margin: 0 auto;
}
.sb{
    display: flex;
    align-items: center;
    input {
        width: 570px;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid #D8DCE6;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding-left: 20px;
    }
    a {
        text-decoration: none;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        background: #FFFFFF;
        border: 1px solid #28A745;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        max-width: 170px;
        width: 100%;
        height: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 1.39286px;
        text-transform: uppercase;
        color: #323232;
        cursor: pointer;
        transition-duration: 0.4s;
          
    }
    button:hover {
        background-color: #cc0000;
        color: cadetblue;
    }
}
.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    flex-shrink: 2;
}
.searchbody {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    max-width: 350px;
    width: 50%;
    flex-shrink: 2;
    hr {
        width: 100%;
        height: 1px;
        margin: 0 auto;
        background: #EAEDF3;
        border: none;
    }
}
.searchcont {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
}
.block1 {
    display: flex;
    flex-direction: column;
}
$w: 20em;
$h: 1em;


.block1 {
    h3 {
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 1px !important;
        text-transform: uppercase !important;
        color: #8990A5 !important;
        margin-right: 10px;
    }
}
.select {
    position: relative !important;
    margin-bottom: 1rem !important;
}
.select:after {
    content: "" !important;
    display: block !important;
    border-style: solid !important;
    border-width: 6px 6px 0 6px !important;
    border-color: #47484B transparent transparent transparent !important;
    position: absolute !important;
    top: 50% !important;
    right: 1rem !important;
    z-index: 1 !important;
    margin-top: -3px !important;
}
.select select {
    background: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: block !important;
    align-items: center !important;
    width: 100% !important;
    border: 1px solid #D8DCE6 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08) !important;
    border-radius: 4px !important;
    padding: .75rem 2.5rem .75rem 1rem !important;
    cursor: pointer;
}
.select select:focus{
    outline: 0 !important;
    border-color: #0088CC !important;
}






.slider {
    display: flex;
    -webkit-appearance: none;
    height: 15px;
    flex-shrink: 2;  
    max-width: 170px;
    width: 50%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    margin-bottom: 28px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 1px solid;
    border-color: green;
    background: rgb(223, 228, 223);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: green;
    background: rgb(223, 228, 223);
    cursor: pointer;
  }
.slidecontainer {
    display: flex;
    width: 100%;
    max-width: 340px;
}  
.price {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}
.selectMin:after {
    content: "▼" !important;
    display: block !important;
    border-style: solid !important;
    border-width: 6px 6px 0 6px !important;
    border-color: #47484B transparent transparent transparent !important;
    position: absolute !important;
    top: 50% !important;
    right: 1rem !important;
    z-index: 2 !important;
    margin-top: -3px !important;
}
.selectMin {
    background: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: block !important;
    align-items: center !important;
    width: 40% !important;
    border: 1px solid #D8DCE6 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08) !important;
    border-radius: 4px !important;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
    
}

.block2 {
    h3 {
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 1px !important;
        text-transform: uppercase !important;
        color: #8990A5 !important;
        margin-right: 10px;
    }
}
.block3 {
    h3 {
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 1px !important;
        text-transform: uppercase !important;
        color: #8990A5 !important;
        margin-right: 10px;
        margin-top: 20px;
    }
    button {
        background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
        border: 1px solid #D8DCE6;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 8px 15px;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    button:hover {
        background: rgb(143, 168, 143);
        color: rgb(59, 37, 37);
    }

}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    .underlined {
        width: 165px;
        border: none;
        height: 2px;
        background: #0D66D0;
    }
    hr {
        background: #E5EDF8;
        width: 100%;
        height: 1px;
        border: none;
    }
}
.title {
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #323232;
        margin-bottom: 0;
    }
}
.searchhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #47484B;
    }
    h4 {
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #323232;
        cursor: pointer;
        img {
            margin-right: 5px;
        }
    }

}
.domainsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
}
.domainprice {
    display: flex;
    align-items: center;
    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #282828;
    }
    button {
        background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
        border: 1px solid #D8DCE6;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        height: 32px;
        margin-left: 15px;
        cursor: pointer;
    }
    
}
.contentsearch {
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 150%;
        text-transform: uppercase;
        color: #8990A5;
    }
}
.domainname {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
}
.searchfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 16px;
}
.pagination {
    display: inline-block;
    flex-shrink: 2;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color:  #0D66D0;
    color: white;
    border: 1px solid #0D66D0;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.perpage {
      h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #9EA0A5;
      }
      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #323232;
      }
}
.select1 {
    position: relative !important;
}
.select1:after {
    content: "" !important;
    display: block !important;
    border-style: solid !important;
    border-width: 6px 6px 0 6px !important;
    border-color: #47484B transparent transparent transparent !important;
    position: absolute !important;
    top: 50% !important;
    right: 1rem !important;
    z-index: 1 !important;
    margin-top: -3px !important;
}
.select1 select {
    background: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: block !important;
    align-items: center !important;
    width: 100% !important;
    border: 1px solid #D8DCE6 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08) !important;
    border-radius: 4px !important;
    padding: 10px 30px;
    cursor: pointer;
}
.select1 select:focus{
    outline: 0 !important;
    border-color: #0088CC !important;
}
.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    width: 100%;
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 52px;
        text-align: center;
        text-transform: capitalize;
        color: #323232;
    }
}
.paymentmeth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;

}
.onemeth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize;
        color: #8990A5;
    }
}
